---
# Handlers for common role

- name: Restart SSH
  systemd:
    name: sshd
    state: restarted

- name: Restart fail2ban
  systemd:
    name: fail2ban
    state: restarted

- name: Reload UFW
  ufw:
    state: reloaded
